.cart-product {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow-y: hidden;
  color: black;
  overflow-x: hidden;
  background-image: url(../assests/bgBakery.png);
  background-size: cover;
  background-repeat: repeat;
}
.Itemsadded {
  font-family: cursive;
}
.addedCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 50%;
  overflow-y: scroll !important;
  padding:3%
}
@media only screen and (max-width: 600px)  {
  .cart-product{
    display:block;
    height: 100%;
  }
  
  .checkout{
    z-index: 999;
    position:absolute;
    margin-left: 30%;

  }
  .addedCards{
    overflow-x: hidden;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 450px) {

  .addedCards{
    overflow-x: hidden;
    margin-left: -10%;
  }
}