.cart-product {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow-y: hidden;
  color: black;
  overflow-x: hidden;
  background-image: url(../assests/bgBakery.png);
  background-size: cover;
  background-repeat: repeat;
}
.Itemsadded {
  font-family: cursive;
}
.addedCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 50%;
  overflow-y: scroll !important;
  padding:3%
}
