.Navbar{
    padding: 3%;
    background-image: url("../assests/HeaderBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:25vh;
    text-align: center;
    position: sticky;
    top:0;
    z-index:999;
    
  }
  .navbar{
    border-radius: 5px;
    opacity: .8;
    margin-right: 2%;
  }
  
  #basic-nav-dropdown{
    color:white;
  }
  .cartCtn{
    color:gold;
    padding:20px;
  }
  .Lamina{
    color:goldenrod;
    font-family: cursive;
  }

 @media only screen and (max-width: 539px)  {
    .Navbar{
      height: 33vh
    }
   /*  .cartCtn{
    position:absolute;
    left:60%;
    top:50%
    } */
  }
 /*  @media only screen and (min-width: 540px) {
    .Navbar{
      height: 20vh
    }
    .cartCtn{
      position:absolute;
      left:85%;
      top:50%
      }

  }
  @media only screen and (min-width: 850px) {
    .cartCtn{
      position:absolute;
      left:85%;
      top:25%
      }
  }  */