.Navbar{
    padding: 3%;
    background-image: url("../assests/HeaderBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:25vh;
    text-align: center;
    position: sticky;
    top:0;
    z-index:999;
    
  }
  .navbar{
    border-radius: 5px;
    opacity: .8;
    margin-right: 2%;
  }
  
  #basic-nav-dropdown{
    color:white;
  }
  .cartCtn{
    color:gold;
    padding:20px;
  }
  .Lamina{
    color:goldenrod;
    font-family: cursive;
  }

 
  @media only screen and (max-width: 539px)  {
    .Navbar{
      height:18vh;
    }
    .logo{
      font-size: 30px !important;
      background-color: rgba(3, 20, 35, 0.839) !important;
      border-radius: 15px;
    }
    .cartCtn{
      background-color: rgba(161, 151, 151, 0.722);
      border-radius: 50px;
    }
  }